.main-window {
    -fx-background-color: transparent;
}

.scroll-pane,
.scroll-pane > .viewport,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.dialog {
    -fx-background-color: rgba(89, 89, 95, 0.563);
    -fx-background-radius: 15px;
    
    -fx-effect: innershadow(
        gaussian,
        rgba(255, 255, 255, 0.7),
        12,
        0.55,
        0,
        0
    );

}

.displayPicture {
    -fx-border-color: #2196F3;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;

}

.scrollPane {

}
.dialog-text {
    -fx-text-fill: #e8faff;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 15px;
    -fx-font-weight: bold;

    -fx-effect: dropshadow(
        gaussian,
        rgba(80, 210, 255, 0.65),
        4,
        0.4,
        0,
        0
    );
}
